:root { 
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn-medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.btn--wide {
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover,
.btn-medium:hover,
.btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
}

.btn--wide:hover {
    color: #fff;
    background-color: #f00946;
    transition: all 0.2s ease-out;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    width: 100%;
    height: 100%;
}

.blue{
    background-color: #fff;
    color: #173264;
    max-width: 420px;
    height: 50px;   
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}


@media screen and (max-width: 991px) {
    .blue {
        background-color: #fff;
        color: #173264;
        max-width: 210px;
        height: 40px;   
        border: none;
        font-size: 14px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
    }
  }
  