.footer__section {
    padding: 160px 0;
}
  
.footer-col {
  box-sizing: border-box;
  padding: 0 80px;
  padding-top: 74px;
  padding-bottom: 15px;
  flex: 1;
  width: 100%;
  flex-basis: 50%;
  border-top: solid 2px white;
  background: linear-gradient(180deg, #173264 0%, #000000 100%);
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  column-gap: 30px;
}

.nav-menu-footer {
    display: flex;
    column-gap: 34px;
    list-style: none;
    text-align: center;
    justify-content: end;
  }
  
  .nav-menu-footer svg {
    width: 30px;
    height: 30px;
  }

  .nav-item2 {
      height: 80px;
  }
  .nav-links2 {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links2:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }

  .adress {
    display: flex;
    column-gap: 14px;
    margin-top: 50px;
  }

  .adress p, .adress3 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .adress3 p {
    font-size: 18px;
  }
  
  .adress2 {
    margin-top: 50px;
    max-width: 218px;
  }

  .adress3 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 50px;
  }

  .adress3 div {
    display: flex;
    column-gap: 14px;
  }

  .adress2 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
  }


  .BsGeoAlt{
    width: 26px;
    height: 26px;
    color: #fff;
  }

  .adress2 h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .photosMidia {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    flex: 1 1;
    /* max-width: 1500px; */
    flex-wrap: wrap;
  }
  .footerText {
    box-sizing: border-box;
    color: white; 
    font-size: 18px;
    margin-top: 11px;
    border-top: 2px solid #FFFFFF;
    padding-top: 11px;
    text-align: center;
  }

  @media screen and (max-width: 991px) {
    .blog{
      display: none;
    }
    .fotos {
      display: none;
    }
    .adress p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 40px;
      color: #FFFFFF;
    }
    .adress2 p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 40px;
      color: #FFFFFF;
    }
    .footer-col {
      padding-right: 15px;
      padding-left: 15px;
      flex: 1 1;
      width: 100%;
      max-width: 1500px;
      flex-basis: 50%;
    }
    .footerText {
      color: white; 
      font-size: 14px;
      text-align: center;
    }

    .footer-content {
      justify-content: space-around;
      flex-wrap: wrap;
      row-gap: 20px;
    }

    .footer-content .adress3,
    .footer-content .adress {
      margin: 0;
    }

    .footer-header {
      justify-content: center;
      margin-bottom: 30px;
    }

  }