.footer__section {
    padding: 160px 0;
}
.footer-row{
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
.footer-col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 80px;
    flex: 1;
    width: 100%;
    max-width:1550px;
    flex-basis: 50%;
    border-top: solid 2px white;
  }
.container-footer {
    width: 100%;
    max-width: 1500px;
}

.fundo-footer {
    background: linear-gradient(180deg, #173264 0%, #000000 100%);
}

.nav-menu2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 34px;
    list-style: none;
    text-align: center;
    width: 10vw;
    justify-content: end;
    margin-right: 1rem;
  }
  .nav-item2 {
      height: 80px;
  }
  .nav-links2 {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links2:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  .footer-logo {
    transform: translate(25%, 50%);
  }

  .adress {
    display: flex;
    margin-top: 50px;
    padding: 0 50px;
    width: 600px;
  }

  .adress p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
  }
  
  .adress2 {
    margin-top: 50px;
    padding: 0 50px;
    width: 600px;
  }

  .adress2 p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
  }


  .BsGeoAlt{
    font-size: 20px;
    color: #fff;
  }

  .adress2 h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .photosMidia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex: 1 1;
    /* max-width: 1500px; */
    flex-wrap: wrap;
  }
  .footerText {
    color: white; 
    font-size: 18px;
    margin-top: 11px;
    text-align: center;
  }

  @media screen and (max-width: 991px) {
    .blog{
      display: none;
    }
    .fotos {
      display: none;
    }
    .adress p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 40px;
      color: #FFFFFF;
    }
    .adress2 p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 40px;
      color: #FFFFFF;
    }
    .footer-col {
      margin-bottom: 15px;
      padding-right: 15px;
      padding-left: 15px;
      flex: 1 1;
      width: 100%;
      max-width: 1500px;
      flex-basis: 50%;
    }
    .footerText {
      color: white; 
      font-size: 14px;
      text-align: center;
    }

  }