.home__hero-section{
  /* color: #fff; */
  box-sizing: border-box;
  padding: 160px 80px;
}

.home__hero-row{
  align-items: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  display: flex;
  flex: 1;
  max-width:1500px;
}

.home__hero-text-wrapper{
  padding-top: 0;
  padding-bottom: 60px;
}

.home__hero-text-wrapper button {
  box-sizing: border-box;
  padding: 0 81px;
  font-weight: 600;
}

.heading {
  max-width: 893px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  color: #fff;
  margin-bottom: 24px;
}

.dark{
  color: #fff;
}

.darkBg{
  background-color:linear-gradient(180deg, #173264 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: url(../imgs/fundo.png);
  background-position: center;
  background-size: cover;
}

.fundoImage{
  background-color:linear-gradient(180deg, #173264 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: url(../imgs/FundoHome.png);
  background-position: center;
  background-size: cover;
}

.fundoCorporative {
  background-image: url(../imgs/fundo-corporative.png);
  height: calc(100vh - 81px);
}

.home__hero-subtitle{
  max-width: 893px;
  margin-bottom: 35px;
  font-size: 28px;
  line-height: 40px;
  line-height: 40px;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .container {
    box-sizing: border-box;
    /* padding: 0 30px; */
  }
}

@media screen and (max-width: 991px) {
  .home__hero-subtitle{
    font-size: 16px;
  }
  .heading {
    font-size: 25px !important;
  }
  .home__hero-title {
    font-size: 20px;
  }
  .home__hero-text-wrapper {
    box-sizing: border-box;
    padding-bottom: 65px;
  }
  .fundoImage {
    padding: 20px;
    height: fit-content
  }
}